{# templates/product/list.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Product List{% endblock %}

{% block body %}
    <h1>Product List</h1>

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Designation</th>
            <th>Univers</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.designation }}</td>
                <td>{{ product.univers }}</td>
                <td>{{ product.price }}</td>
                <td>
                    <form action="{{ path('product_delete', {'id': product.id}) }}" method="post" onsubmit="return confirm('Are you sure you want to delete this product?');">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
